<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-perfil">
                    <div class="boton-flotante">
                        <a class="btn btn-default" ui-sref="nf.auth_profile_edit" role="button">{{'Editar Perfil' | translate }}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    </div>
                    <div class="panel-header">
                        <img ng-src="../img/ico-{{user.genero=='F'? 'femenino' : 'masculino'}}.png">
                        <h1>{{'Mi información' | translate }}</h1>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Documento' | translate }}</label>
                                    <p ng-class="!user.username ? 'sin-registro' : ''">{{ user.username ? user.username: ('Documento no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Tipo de Documento de Identidad' | translate }}</label>
                                    <p ng-class="!user.tipo_documento ? 'sin-registro' : ''">{{ user.tipo_documento ? user.tipo_documento: ('Tipo de documento no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Nombres' | translate }}</label>
                                    <p ng-class="!user.first_name ? 'sin-registro' : ''">{{ user.first_name ? user.first_name:('Nombre no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Apellidos' | translate }}</label>
                                    <p ng-class="!user.last_name ? 'sin-registro' : ''">{{ user.last_name ? user.last_name: ('Apellido no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Correo electrónico' | translate }}</label>
                                    <p ng-class="!user.email ? 'sin-registro' : ''">{{ user.email ? user.email: ('Correo electrónico no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Teléfono Móvil' | translate }}</label>
                                    <p ng-class="!user.movil ? 'sin-registro' : ''">{{ user.movil ? user.movil: ('Teléfono móvil no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Teléfono' | translate }}</label>
                                    <p ng-class="!user.telefono ? 'sin-registro' : ''">{{ user.telefono ? user.telefono: ('Teléfono no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Fecha de Nacimiento' | translate }}</label>
                                    <p ng-class="!user.fecha_nacimiento ? 'sin-registro' : ''">{{ user.fecha_nacimiento ? user.fecha_nacimiento: ('Fecha no ingresada'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Genero' | translate }}</label>
                                    <p ng-class="!user.genero ? 'sin-registro' : ''">{{ user.genero ? (user.genero == 'F' ? ('Femenino'| translate) : ('Masculino'| translate)) : ('Genero no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'País' | translate }}</label>
                                    <p ng-class="!user.pais ? 'sin-registro' : ''">{{ user.pais ? user.pais: ('País no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Departamento' | translate }}</label>
                                    <p ng-class="!user.departamento ? 'sin-registro' : ''">{{ user.departamento ? user.departamento: ('Departamento no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Municipio' | translate }}</label>
                                    <p ng-class="!user.municipio ? 'sin-registro' : ''">{{ user.municipio ? user.municipio: ('Municipio no ingresado'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Comunidad' | translate }}</label>
                                    <p ng-class="!user.comunidad ? 'sin-registro' : ''">{{ user.comunidad ? user.comunidad: ('Comunidad no ingresada'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Zona' | translate }}</label>
                                    <p ng-class="!user.zona ? 'sin-registro' : ''">{{ user.zona ? user.zona: ('Zona no ingresada'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Etnia' | translate }}</label>
                                    <p ng-class="!user.etnia ? 'sin-registro' : ''">{{ user.etnia ? user.etnia: ('Etina no ingresada'| translate)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>{{'Dirección' | translate }}</label>
                                    <p ng-class="!user.direccion ? 'sin-registro' : ''">{{ user.direccion ? user.direccion: ('Direccion no ingresada'| translate)}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-perfil">
                    <div class="boton-flotante">
                        <a class="btn btn-default" href role="button" ng-click="porInscribir = !porInscribir">Agregar<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </div>
                    <div class="panel-header">
                        <img ng-src="../img/ico-familia.png">
                        <h1>Mi familia</h1>
                        <h3>{{ user.totalMiembrosPorInscribir}} familiares por inscribir</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-show="mensajeFam.estado" class="alert" ng-class=" mensajeFam.success ? 'alert-success': 'alert-danger'" role="alert">{{mensajeFam.message}}</div>
                        <div class="col-md-12">
                            <div>
                                <div class="miembros-header">
                                    <div class="col-md-4 col-sm-4 col-xs-4">Personas</div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">Rango edad</div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">Editar info</div>
                                </div>
                                <uib-accordion close-others="true">
                                    <div uib-accordion-group class="panel-first" is-open="porInscribir">
                                        <agregar-familiar></agregar-familiar>
                                    </div>
                                    <div uib-accordion-group class="panel-default" ng-repeat="miembro in user.miembrosPorRango track by $index" ng-hide="miembro.cantidad === 0" is-open="miembro.open">
                                        <uib-accordion-heading>
                                            <div class="col-md-4 col-sm-4 col-xs-4">{{miembro.cantidad}}</div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">{{miembro.rango}}</div>
                                            <div class="editar-miembro col-md-4 col-sm-4 col-xs-4"><a href="#">Editar</a></div>
                                        </uib-accordion-heading>
                                        <agregar-familiar miembro="miembro" index="{{$index}}"></agregar-familiar>
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                    </div>
                    <div class="panel-header">
                        <h1>Mi familia</h1>
                        <h3>{{ user.totalMiembrosInscritos}} familiares inscritos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div ng-hide="usuarioFamilia.totalMiembrosInscritos === 0">
                                <div class="miembros-header">
                                    <div class="col-md-3 col-sm-3 col-xs-3">Nombres y Apellidos</div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">Parentesco</div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">Documento</div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">Nacimiento</div>
                                    <!--<div class="col-md-2 col-sm-2 col-xs-2">Editar info</div> - ->
                                </div>
                                <uib-accordion close-others="true">
                                    <div uib-accordion-group class="panel-first" is-open="status.open">
                                        <!--<agregar-familiar></agregar-familiar>- ->
                                    </div>
                                    <div uib-accordion-group class="panel-default" ng-repeat="familiar in usuarioFamilia track by $index" ng-hide="miembro.cantidad === 0">
                                        <uib-accordion-heading>
                                            <div class="col-md-3 col-sm-3 col-xs-3">{{familiar.FAM_PER_NOMBRE}} {{familiar.FAM_PER_APELLIDO}}</div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">{{familiar.FAM_PER_PARENTESCO}}</div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">{{familiar.FAM_PER_DOCUMENTO}}</div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">{{familiar.FAM_PER_BIRTHDATE}}</div>
                                            <!--<div class="editar-miembro col-md-2 col-sm-2 col-xs-2"><a href="#">Editar</a></div>- ->
                                        </uib-accordion-heading>
                                        <!--<agregar-familiar miembro="familiar" index="{{$index}}"></agregar-familiar>- ->
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
