<div class="bs-loading-container" bs-loading-overlay>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-perfil">
                    <div class="boton-flotante">
                        <a class="btn btn-default"ui-sref="nf.auth_profile" role="button">{{'Volver' | translate }}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </div>
                    <div class="panel-header">
                        <img ng-src="../img/ico-{{user.genero=='F'? 'femenino' : 'masculino'}}.png" alt="Genero {{user.genero}}">
                        <h1>{{'Mi información' | translate }}</h1>
                    </div>
                    <div class="panel-body">
                        <form name="userForm" ng-submit="updateUser()">
                            <div ng-show="mensaje.estado" class="alert" ng-class=" mensaje.success ? 'alert-success': 'alert-danger'" role="alert">{{mensaje.texto}}</div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="username">{{'Documento' | translate }} *</label>
                                    <input type="text" class="form-control" name="username" id="username" placeholder="{{'Ingrese el Número de Documento de Identidad' | translate }}" ng-model="user.username" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.username.$touched">
                                        <span ng-show="userForm.username.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="tipo_documento">{{'Tipo de Documento de Identidad' | translate }} *</label>
                                    <select class="form-control" name="tipos_documento" ng-options="option.name for option in tipos_documento.availableOptions track by option.id" ng-model="tipos_documento.selectedOption" required>
                                    </select>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.nombre.$touched">
                                        <span ng-show="userForm.tipos_documento.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="first_name">{{'Nombres' | translate }} *</label>
                                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="{{'Ingrese su nombre' | translate }}" ng-model="user.first_name" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.nombre.$touched">
                                        <span ng-show="userForm.first_name.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="last_name">{{'Apellidos' | translate }} *</label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="{{'Ingrese su apellido' | translate }}" ng-model="user.last_name" ng-model-options="{ updateOn: 'blur' }" required>
                                    <!--<span class="messages" ng-show="userForm.$submitted || userForm.last_name.$touched">
                                        <span ng-show="userForm.apellido.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>-->
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="email">{{'Correo electrónico' | translate }}</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="{{'Ingrese su correo electrónico' | translate }}" ng-model="user.email" ng-model-options="{ updateOn: 'blur' }">
                                    <span class="messages" ng-show="userForm.$submitted || userForm.email.$touched">
                                        <span ng-show="userForm.email.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="telefono">{{'Teléfono' | translate }}</label>
                                    <input type="text" class="form-control" name="telefono" id="telefono" placeholder="{{'Ingrese su número teléfono' | translate }}" ng-model="user.telefono" ng-model-options="{ updateOn: 'blur' }">
                                    <!--<span class="messages" ng-show="userForm.$submitted || userForm.telefono.$touched">
                                        <span ng-show="userForm.telefono.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>-->
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="movil">{{'Teléfono Móvil' | translate }}</label>
                                    <input type="text" class="form-control" name="movil" id="movil" placeholder="{{'Ingrese su número teléfono móvil' | translate }}" ng-model="user.movil" ng-model-options="{ updateOn: 'blur' }">
                                    <!--<span class="messages" ng-show="userForm.$submitted || userForm.telefono.$touched">
                                        <span ng-show="userForm.telefono.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>-->
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nacimiento">{{'Fecha de Nacimiento' | translate }}</label>
                                    <input type="date" class="form-control" placeholder="dd-MM-yyyy" id="nacimiento" name="nacimiento" ng-model="date.fecha_nacimiento" ng-model-options="{ updateOn: 'blur' }">
                                    <!--<span class="messages" ng-show="userForm.$submitted || userForm.birthdate.$touched">
                                        <span ng-show="userForm.nacimiento.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>-->
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="genero">{{'Genero' | translate }}</label>
                                    <select class="form-control" name="genero" ng-options="option.name for option in generos.availableOptions track by option.id" ng-model="generos.selectedOption">
                                        <option disabled value> -- {{'Eliga una opción' | translate }} -- </option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="pais">{{'País' | translate }} *</label>
                                    <input type="text" class="form-control" name="pais" placeholder="{{'Ingrese su país' | translate }}" ng-model="user.pais" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.pais.$touched">
                                        <span ng-show="userForm.pais.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="departamento">{{'Departamento' | translate }} *</label>
                                    <input type="text" class="form-control" name="departamento" placeholder="{{'Ingrese su departamento' | translate }}" ng-model="user.departamento" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.departamento.$touched">
                                        <span ng-show="userForm.departamento.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="municipio">{{'Municipio' | translate }} *</label>
                                    <input type="text" class="form-control" name="municipio" placeholder="{{'Ingrese su municipio o ciudad' | translate }}" ng-model="user.municipio" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.municipio.$touched">
                                        <span ng-show="userForm.municipio.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="comunidad">{{'Comunidad' | translate }}</label>
                                    <input type="text" class="form-control" id="comunidad" name="comunidad" placeholder="{{'Ingrese la comunidad a la que pertenece' | translate }}" ng-model="user.comunidad" ng-model-options="{ updateOn: 'blur' }">
                                    <!--<span class="messages" ng-show="userForm.$submitted || userForm.comunidad.$touched">
                                        <span ng-show="userForm.comunidad.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>-->
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="zona">{{'Zona' | translate }}</label>
                                    <input type="text" class="form-control" id="zona" name="zona" placeholder="{{'Ingrese la zona en la que vive' | translate }}" ng-model="user.zona" ng-model-options="{ updateOn: 'blur' }">
                                    <!--<span class="messages" ng-show="userForm.$submitted || userForm.comunidad.$touched">
                                        <span ng-show="userForm.zona.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>-->
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="etnia">{{'Etnia' | translate }}</label>
                                    <input type="text" class="form-control" id="etnia" name="etnia" placeholder="{{'Ingrese la étnia a la que pertenece' | translate }}" ng-model="user.etnia" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="direccion">{{'Dirección' | translate }}</label>
                                    <input type="text" class="form-control" name="direccion" id="direccion" placeholder="{{'Ingrese su dirección de residencia' | translate }}" ng-model="user.direccion" ng-model-options="{ updateOn: 'blur' }">
                                    <!--<span class="messages" ng-show="userForm.$submitted || userForm.direccion.$touched">
                                        <span ng-show="userForm.direccion.$error.required">{{'El campo es obligatorio' | translate }}</span>
                                    </span>-->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-default center-block" ng-disabled="userForm.$invalid" >{{'Guardar Cambios' | translate }}</button>
                                <p>(*) {{'Campos obligatorios' | translate }}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
