.modulos .panel .panel-header {
    margin-top: 20px;
    color: #3dc0fd;
}

.modulos .panel-body {
    margin-top: 10px;
    padding-top: 0px;
}

.panel .panel-body .alert {
    text-align: center;
}

.modulos .panel-body .deshabilitar {
    background-color: gray;
}

.modulos .panel-body .modulo {
    margin: 0 28px 50px 28px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 8px;
    border: 1px solid #9eabb3;
    cursor: not-allowed;
    height: 452px;
    position: relative;
}

.modulos .panel-body .modulo.terminado,
.modulos .panel-body .modulo.actual {
    background-color: #ffba23;
    cursor: pointer;
    border: none;
}

.modulos .panel-body .modulo.actual {
    background-color: #0dcd71;
}

.modulos .medalla {
    position: absolute;
    top: -15px;
    right: 36px;
}

.modulos .panel-body .modulo > img,
.modulos .panel-body .modulo a > img {
    height: auto;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.cargando {
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 50px;
}

.modulos .panel-body a.modulo-link {
    text-decoration: none;
}

.modulos .panel-body .modulo h3 {
    color: #0dcd71;
    text-align: center;
    font-size: 15pt;
    margin-top: 32px;
    margin-bottom: 36px;
}

.modulos .panel-body .modulo h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #9eabb3;
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.modulos .panel-body .modulo.actual h3,
.modulos .panel-body .modulo.actual h4,
.modulos .panel-body .modulo.terminado h3,
.modulos .panel-body .modulo.terminado h4 {
    color: #ffffff;
}

.modulos .panel-body .modulo .progress {
    height: 11px;
    margin-bottom: 0px;
    border-radius: 4px;
    width: 94%;
    margin: 0 3%;
    background-color: #f5f5f5;
    background-image: none;
    position: absolute;
    bottom: 10px;
}

.panel-header .modulo-avance .progress {
    height: 11px;
    margin-bottom: 0px;
    border-radius: 4px;
    width: 94%;
    margin: 0 3%;
    background-color: #f5f5f5;
    background-image: none;
}

.modulos .panel-body .modulo.actual .progress,
.modulos .panel-body .modulo.terminado .progress {
    background-color: #ffffff;
}

.panel-header .modulo-avance .progress {
    background-color: #f2f1f1;
}

.modulo.actual .progress {
    background-color: #ffffff;
}

.modulos .panel-body .modulo .progress .progress-bar,
.panel-header .modulo-avance .progress .progress-bar {
    background-color: #feea45;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modulos .panel-body .modulo-no-disponible {
    -webkit-filter: grayscale(100%) opacity(40%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%) opacity(40%);
}

.modulos .panel-body .modulo-no-disponible h3,
.modulos .panel-body .modulo-no-disponible h4 {
    color: #000000;
}