<div class="modal-header">
    <span class="center-block glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
</div>
<div class="modal-body">
    <div>
        <p>{{data.texto1| translate }}</p>
        <p>{{data.texto2| translate }}</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-third" role="button" ng-click="exit()">{{'Salir'| translate }}</button>
    <button class="btn btn-default" role="button" ng-click="boton1()">{{data.boton| translate }}</button>
</div>
