/* Verde #00c97e */

/* Fonts */
@font-face {
    font-family: Muli;
    src: url(../fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(../fonts/Muli-Light.ttf);
}

body {
    background: #f5f5f5;
    font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', sans-serif;
}

/* Default buttons*/

.btn {
    border-radius: 23px;
    border: none;
    font-family: 'Muli', sans-serif;
    font-size: 12pt;
    height: 50px;
    margin-bottom: 10px;
    padding: 1px 32px 0px 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: none;
}

.btn.focus, .btn:focus, .btn:hover {
    outline: none !important;
}

.btn-default{
    background-color: #00c97e;
    border: 2px solid white;
    color: white;
}

.btn-primary{
    background-color: white;
    color: #00c97e;
}

.btn-secondary{
    background-color: #fef418;
    color: #00c97e;
}

.btn-third{
    background-color: #fc4cab;
    color: white;
}

/* Language */

.language{
    margin-top: 10px;
}

.language .btn-language{
    border-radius: 5px;
    font-size: 10pt;
    height: 40px;
    margin-bottom: 0;
    padding: 10px;
    letter-spacing: 0;
    background-color: inherit;
    color: white;
    text-transform: none;
}

.language a {
    cursor: pointer;
}

.language.fixed{
    position: fixed;
    top: 20px;
    right: 20px;
}

/* End Language */


/*  PANELES GENERALES */

.breadcrumb {
    margin-top: 10px;
    margin-bottom: 0px;
}

.breadcrumb li {
    color: #09df78;
}

.panel {
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    border-radius: 4px;
    box-shadow: none;
    color: #2f3e47;
    margin-top: 5px;
}

.panel .panel-header {
    text-align: center;
}

.panel .panel-header img {
    margin-top: -45px;
}

.panel .panel-header h1 {
    color:#00c97e;
    font-size: 22pt;
}

.panel .panel-header h3 {
    color:#00c97e;
    font-size: 9pt;
}

.panel .panel-body{
    margin-top: 10px;
    padding-top: 0px;
}



/* END PANELES GENERALES */


/* MODULOS */

.panel-perfil {
    margin-top: 65px;
}

.panel .boton-flotante {
    position: absolute;
    right: 30px;
    top: 90px;
}

@media(max-width:991px) {
    .panel .boton-flotante {
        top: 10px;
    }
}

.panel .boton-flotante a,
.panel .boton-flotante a:hover {
    height: 38px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    padding: 8px 14px;
    font-weight: normal;
    color: gray;
    letter-spacing: 0;
}

.panel .boton-flotante .glyphicon {
    color: #09df78;
    margin-left: 10px;
}

/* DIPLOMA */

.modal.diploma .modal-dialog {
    width: 800px;
}

.modal.diploma .modal-dialog .modal-content {
    background-color: #f5f5f5;
}

.modal.diploma .modal-dialog .modal-content .modal-body {
    padding: 0px;
}

div#imprimirDiploma {
    padding: 25px;
}

.modal-body .diploma .rollo-arriba,
.modal-body .diploma .rollo-abajo {
    background-image: url(../img/diploma-top-bar.png);
    background-size: 100% 100%;
    height: 24px;
    width: 100%;
    position: relative;
}

.modal-body .diploma .rollo-abajo {
    background-image: url(../img/diploma-bottom-bar.png);
}

.modal-body .diploma .rollo-arriba .medalla {
    position: absolute;
    width: 70px;
    top: -18px;
    left: calc(50% - 35px);
}

.modal-body .diploma .papel {
    background-color: #ffffff;
    color: #2f3e47;
    height: 400px;
    padding: 10px;
    width: 720px;
    text-align: center;
}

.modal-body .diploma h1 {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 65px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.modal-body .diploma h2 {
    margin: 20px 0 30px 0;
    font-size: 25pt;
}

.modal-body .diploma h3 {
    color: #000000;
    margin: 20px 0 18px 0;
    font-size: 16pt;
}

.modal-body .diploma h4 {
    margin: 10px 0 10px 0;
    font-size: 8pt;
}

.modal-body .diploma p {
    margin: 0px;
}

.modal-body .diploma .papel .margen {
    border: 1px solid #f0cb69;
    height: 100%;
    width: 100%;
}

.modal.diploma .modal-footer {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.modal.diploma .btn-default {
    background-color: #00da81;
    background-image: none;
    border-radius: 23px;
    border: none;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    height: 40px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    margin-top: 25px;
    padding-top: 12px;
    text-transform: uppercase;
    text-shadow: none;
    width: 290px;
}


/* FINAL -DIPLOMA */

/* UNIDAD INFORMATIVA */

.unidad .unidad-informativa {
    background-color: #ffffff;
    color: #2f3e47;
    text-align: left;
    font-size: 17pt;
    width: 100%;
    padding: 20px 60px;
}

.unidad .unidad-informativa p {
    margin-bottom: 30px;
    padding: 0px !important;
}

.unidad .unidad-informativa ul {
    padding-left: 10px;
}

.unidad .unidad-informativa ul li {
    list-style-position: outside;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    list-style-image: url(../img/list-unidad-informativa.png);
}

.unidad .unidad-informativa .glyphicon {
    border: none;
    background: none;
    color: #09df78;
    font-size: 24pt;
    margin: 10px;
}

.unidad .unidad-informativa ul li .glyphicon {
    font-size: 17pt;
}


/* FINAL - UNIDAD INFORMATIVA */


/* PERFIL Y EDITAR PERFIL */

.panel-body .form-group {
    margin-bottom: 20px;
}

.panel-body .form-group .form-control {
    height: 38px !important;
    border: 1px solid #dcdcdc;
    border-radius: 18px;
    font-size: 10pt;
    padding: 6px 22px;
}

.panel-body .form-group p,
.panel-body .form-group .sin-registro {
    font-size: 10pt;
    padding: 6px 22px;
    height: 25px;
}

.panel-body .form-group .sin-registro {
    color: #c2c5c7;
}

.panel-body .form-group select.form-control:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 96% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/ico-selector.png');
    padding: 6px 22px;
}

.panel-body .form-group label {
    padding-left: 22px;
    font-size: 7pt;
    text-transform: uppercase;
}

.panel-body .form-group .error,
.panel-body form .message {
    font-size: 10px;
    color: #fc4cab;
    text-align: center;
}

::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 96% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/ico-datepicker.png');
    padding: 6px 22px;
}



.panel-body .btn-default:active,
.panel-body .btn-default:focus {
    outline: none;
}

.panel-body .form-group .form-control[disabled],
.panel-body .form-group.form-control[readonly],
.panel-body .form-group fieldset[disabled] .form-control {
    background-color: #f5f5f5;
}

.panel-body .miembros-header {
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 25px;
}

.panel-body .miembros-header div {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.panel-body .panel-group .panel {
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #dcdcdc;
    padding: 25px 0px;
    font-size: 12pt;
}

.panel-body .panel-group .panel-first {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    border: none;
}

.panel-body .panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #ffffff;
    margin-top: 15px;
}

.panel-body .panel-default>.panel-heading {
    background-image: none;
    background-color: #ffffff;
    text-align: center;
}

.panel-body .panel-first>.panel-heading {
    padding: 0;
}

.panel-body .panel-group .panel .editar-miembro a {
    color: #fc4cab;
    text-decoration: underline;
}


/* END PERFIL Y EDITAR PERFIL */


/*SOBRE NUTRIFAMI*/

.sobre {
    text-align: center;
}

.sobre .nf-logo {
    margin-bottom: 20px;
}

.sobre .nf-logo img {
    margin-top: 50px;
    margin-bottom: 5px;
}

.sobre .descripcion p {
    font-size: 14pt;
    margin-top: 15pt;
    padding: 0 35px;
}

.sobre .wfp-ia-logo img {
    margin-top: 35px;
}

.sobre .copyright {
    margin-top: 45px;
}


/*END - SOBRE NUTRIFAMI*/

/* Nutricompra*/

.nutricompra .panel.intro {
    background-color: #00da81;
    margin: 10px auto;
    position: relative;
    width: 920px;
}

.nutricompra .intro h2 {
    color: #ffffff;
    font-family: 'Muli-Light', sans-serif;
    font-size: 18pt;
    text-align: center;
}

.nutricompra .intro h2 a {
    color: #ffffff;
    text-decoration: none;
}

.nutricompra .btn {
    background-color: #fed625;
    background-image: none;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 14pt;
    height: 60px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 18px;
    text-transform: uppercase;
    width: 200px;
}

.nutricompra .como-jugar {
    margin: 10px auto;
    position: relative;
    width: 920px;
}

.nutricompra .btn-back {
    left: 30px;
    position: absolute;
    top: 30px;
    z-index: 10;
}

.nutricompra .como-jugar h2 {
    color: #00c97e;
    font-size: 23pt;
    margin-top: 65px;
    text-align: center;
}

.nutricompra .como-jugar h3 {
    color: #2f3e47;
    font-family: 'Muli-Light', sans-serif;
    font-size: 15pt;
    margin-top: 28px;
    text-align: center;
}

.nutricompra .como-jugar h3 span {
    color: #00c97e;
}

.nutricompra .como-jugar .paso {
    height: 90px;
    margin: 90px 40px;
}

.nutricompra .como-jugar .paso img {
    float: left;
    margin-right: 12px;
}

.nutricompra .como-jugar .paso.paso-2 img {
    margin-top: 20px;
}

.nutricompra .como-jugar .paso p {
    color: #2f3e47;
    font-size: 9pt;
    padding-top: 30px;
}

.nutricompra .jugar {
    background-color: #00da81;
    margin: 10px auto;
    position: relative;
    width: 920px;
}

.nutricompra .header {
    padding: 8px;
}

.nutricompra .header .panel-central {
    width: 235px;
    margin: 0 auto;
}

.nutricompra .header .cantidad-productos {
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    float: left;
    height: 35px;
    margin-right: 27px;
}

.nutricompra .header .cantidad-productos ul {
    padding-left: 7px;
    margin: 0px;
}

.nutricompra .header .cantidad-productos ul li {
    float: left;
    list-style: none;
    margin-right: 2px;
    margin-top: 5px;
}

.nutricompra .header .cantidad-productos ul li img {
    width: 24px;
    cursor: pointer;
}

.nutricompra .header .carrito {
    position: relative;
    cursor: pointer;
}

.nutricompra .header .carrito img {
    margin-top: 7px;
}

.nutricompra .header .carrito .carrito-cantidad {
    background-color: #ffffff;
    border-radius: 6px;
    color: #00c97e;
    font-family: 'Muli', sans-serif;
    font-size: 9px;
    height: 16px;
    padding-top: 3px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 22px;
}

.nutricompra .vitrina {
    background-color: #00c97e;
    background-image: url('../img/nutricompra/bg_tienda_2.png');
    height: 450px;
    margin: 0 auto;
    padding: 0px 14px;
    width: 918px;
}

.nutricompra .selector.seleccionado {
    visibility: hidden;
}

.nutricompra .selector {
    float: left;
    margin-bottom: 10px;
    width: 89px;
}

.nutricompra .producto {
    display: table-cell;
    height: 95px;
    position: relative;
    vertical-align: bottom;
    width: inherit;
}

.nutricompra .producto img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.nutricompra .carro {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 105px);
}

.nutricompra .carro .producto-carrito {
    float: left;
    left: 50px;
    position: absolute;
    top: 0px;
    z-index: 20;
    filter: grayscale(30%);
    -webkit-filter: grayscale(30%);
}

.nutricompra .carro .img-carro {
    position: relative;
    z-index: 30;
}

.nutricompra .pagina-siguiente,
.nutricompra .pagina-anterior {
    background-image: url('../img/nutricompra/bnt_next.png');
    bottom: 55px;
    cursor: pointer;
    height: 63px;
    position: absolute;
    right: 100px;
    width: 63px;
}

.nutricompra .pagina-anterior {
    left: 100px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nutricompra .resumen {
    background-color: #ffffff;
    height: 450px;
    margin: 0 auto;
    padding: 0px 14px;
    width: 918px;
}

.nutricompra .resumen h3 {
    color: #00c97e;
    font-size: 14pt;
    margin-bottom: 50px;
    margin-top: 40px;
    text-align: center;
}

.nutricompra .resumen .grupo {
    height: 50px;
    margin: 0 20px 30px 45px;
    position: relative;
}

.nutricompra .resumen .grupo .grupo-icono {
    border-right: 1px solid #e9e9e9;
    float: left;
    margin-right: 20px;
    margin-top: 4px;
    width: 60px;
}

.nutricompra .resumen .grupo .grupo-cantidad {
    background-color: #1fc880;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    height: 20px;
    padding-top: 3px;
    position: absolute;
    left: 32px;
    text-align: center;
    top: 0px;
    width: 25px;
}

.nutricompra .resumen .grupo .grupo-productos {
    height: 50px;
}

.nutricompra .resumen .grupo .grupo-productos .producto {
    float: left;
    height: 50px;
    margin-right: 20px;
    position: relative;
}

.nutricompra .resumen .grupo .grupo-productos .producto img {
    height: 50px;
    position: initial;
}

.nutricompra .resumen .grupo .grupo-productos .producto .cerrar {
    background-color: #f90a7a;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    height: 20px;
    padding-top: 3px;
    position: absolute;
    left: 60%;
    text-align: center;
    top: 0px;
    width: 20px;
}

.nutricompra .resumen .tooltip-inner {
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: #2f3e47;
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: uppercase;
}

.nutricompra .resumen .tooltip {
    font-size: 8pt;
}

.nutricompra .resumen .tooltip.right .tooltip-arrow {
    border-right-color: #e5e5e5;
}

.nutricompra .jugar.terminar {
    background-color: #ffffff;
}

.nutricompra .terminar .titulo {
    background-image: url('../img/nutricompra/ico_cinta.png');
    height: 76px;
    margin: 0 auto;
    text-align: center;
    width: 308px;
}

.nutricompra .terminar .titulo h2 {
    color: #ffffff;
    font-family: 'Muli-Light', sans-serif;
    font-size: 17pt;
    margin-top: 0px;
    padding-top: 15px;
}

.nutricompra .terminar h3 {
    color: #2f3e47;
    font-family: 'Muli-Light', sans-serif;
    font-size: 19pt;
    margin: 37px auto 40px auto;
    text-align: center;
    width: 50%;
}

.nutricompra .terminar .feedback {
    color: #2f3e47;
    font-family: 'Muli', sans-serif;
    font-size: 12pt;
    margin: 45px auto;
    text-align: center;
    width: 300px;
}

.nutricompra-salir .modal-dialog {
    width: 330px;
}

.nutricompra-salir .modal-dialog .glyphicon {
    color: #ffba23;
    font-size: 90pt;
}

.nutricompra-salir .modal-dialog .modal-header,
.nutricompra-salir .modal-dialog .modal-footer {
    border: none;
}

.nutricompra-salir .modal-dialog .modal-body {
    padding: 30px 20px;
}

.nutricompra-salir .modal-body p {
    color: #2f3e47;
    font-size: 18pt;
    text-align: center;
}

.nutricompra-salir .modal-dialog .modal-footer {
    margin: 0px;
    padding: 15px;
}

.nutricompra-salir .modal-dialog .modal-footer .btn-default {
    background-color: #00c97e;
    margin: 0px 0px 10px 0px;
    width: 100%;
}

.nutricompra-salir .modal-dialog .modal-footer .salir {
    background-color: #ffffff;
    box-shadow: none;
    color: #00c97e;
}


/* Final - Nutricompra*/

footer {
    margin-top: 7px;
    margin-bottom: 45px;
}
